.table-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 13vh;
}
    
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    height: 84%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
}

.On-Road{
    background-color: #ECDE7C;
}

.Completed{
    background-color: #7AC14D;
}

.On-Hold{
    background-color: #FE4C4A;
}


.driver-form{
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(33, 37, 75, 0.3);
    backdrop-filter: blur(5px);
    z-index: 10;
}   
.driver-form section{
    position: absolute;
    top: 26%;
    left: 25%;
    width: 50%;
    height: 48%;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}
.top-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FA;
    padding: 5px 15px;
}
.top-border h5{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.top-border button{
    padding: 0;
    border: none;
    background-color: #F8F8FA;
    font-size: 20px;
}

.container-form p{
    font-size: 14px;
    font-weight: 400;
    margin: 5px 20px;
}

.form{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 10px;
}
#name{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}
#name input{
    background-color: #F5F5F7;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
input::placeholder{
    color: #E0E0E1;
}

#category-included{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
} 
#category-included input{
    position: relative;
    top: 0px;
    background-color: #F5F5F7;
    color: #E0E0E1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#status{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
#status select{
    background-color: #F5F5F7;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
select:required:invalid{
    color: #E0E0E1;
}
option {
    color: #000;
}

.searchWrapper{
    border: none;
    padding: 0;
    height: 40px;
}
#category-included input{
    width: 100%;
}
.multiSelectContainer li {
    padding: 2px;
}

.chip {
    background-color: grey;
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
}

.form-buttons{
    position: absolute;
    bottom: 18px;
    right: 18px;
}
#cancel-btn{
    margin: 0px 18px;
    color: white;
    background-color: #FE4C4A;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 5px;
}
#cancel-btn:focus{
    background-color: #EB4345;
}
#save-btn{
    /* margin: 0px 18px; */
    color: white;
    background-color: #71CF48;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 5px;
}
#save-btn:focus{
    background-color: #68C142;
}

.hidden{
    display: none;
}



@media only screen and (max-width: 500px){
    .item{
        font-size: 14px;
    }
}
@media only screen and (max-width: 350px){
    .item{
        font-size: 12px;
    }
}